@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$bg-color: #000000;
$primary-color: #ffff;
$secondary-color: #28e98c;

body {
  background-color: $bg-color;
  font-family: "Inter", sans-serif;

  h1 {
    font-size: 78px;
    letter-spacing: -0.2px;
    line-height: 90px;
    font-weight: 300;
    margin-bottom: 43px;
  }

  h2 {
    font-size: 48px;
    letter-spacing: -0.2px;
    line-height: 60px;
    font-weight: 300;
    margin-bottom: 33px;

  }

  .left-sidebar {
    border: 1px solid #565656;
    color: aliceblue;

    .info {
      align-items: center;
      margin: 0 auto;

      .title {
        font-size: 32px;
        font-weight: 700;
      }

      .sub-title {
        font-size: 16px;
      }
    }

    .rights {
      font-size: 12px;
    }

    .info-icon {
      border: 1px solid $primary-color;
      height: 50px !important;
      width: 50px !important;
      transition: border 0.3s;
      cursor: pointer;
    }

    .info-icon:hover {
      border: 2px solid $secondary-color;
    }

    .info-icon a {
      text-decoration: none;
      color: $primary-color;

    }

    .info-icon:hover a {
      color: $secondary-color;
      cursor: pointer;
    }

    .info-icon i {
      transition: color 0.3s;
    }

    .info-icon:hover i {
      color: $secondary-color;
    }

    .hire-btn {
      padding: 11px 58px 10px 58px;
      background-color: $secondary-color;
      color: #000000;
      margin-top: 30px;
      border: 2px solid transparent; // Use transparent border by default
      transition: background-color 0.3s, color 0.3s, border 0.3s; // Smooth transitions
      width: 90%;
      text-align: center;
    }

    .hire-btn:hover {
      background-color: transparent;
      color: $secondary-color;
      border: 2px solid $secondary-color;
    }
  }

  .custom-container {

    .hero_content {
      color: $secondary-color;
    }

    .sub_heading {
      opacity: 1;
      transform: translate(0px, 0px);
      margin-bottom: 31px;
      color: #999999;
      line-height: 1.7;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 31px;
    }

    .arrow_down {
      position: relative;
      border: 1px solid $secondary-color;
      height: 180px !important;
      width: 180px !important;
      transition: border 0.2s;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 120px;
      cursor: pointer;
      text-decoration: none;
      color: #999999;
      right: 150px;

      &:hover {
        border: 2px solid $secondary-color;
      }

      img {
        display: block;
        animation: rotating 6s infinite linear;
        position: absolute;
        transform: translate(-50%, -50%);
      }

      i {
        transition: border 0.3s;
        cursor: pointer;
        text-decoration: none;
      }
    }

    @keyframes rotating {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }


  }

  .section_space {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .resume_section {
    .timeline {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          position: relative;
          display: flex;
          align-items: center;

          &:before {
            content: '';
            width: 15px;
            height: 15px;
            background-color: #565656;
            border-radius: 50%;
            position: absolute;
            left: -8px;
            top: 1%;
            transform: translateY(-50%);
            z-index: 100;
          }

          &:after {
            content: '';
            width: 1px;
            height: 100%;
            background-color: #565656;
            position: absolute;
            left: 0;
            top: 0;
            transform: translateX(-50%);
          }

          .timeline-content {
            padding-left: 75px;
            padding-bottom: 68px;
            margin-top: -10px;

            h2 {
              margin-top: 0;
              font-size: 24px;
              margin-bottom: 0;
              color: white;
              margin-bottom: 5px;
              line-height: normal;
            }

            p {
              font-size: 13px;
              color: #999999;
              margin-bottom: 18px;
            }

            .date {
              display: block;
              margin-bottom: 28px;
              transition: .3s;
              color: #999999;
              font-size: 16px;
            }
          }

          &:hover {
            &:before {
              background-color: #28e98c;
            }

            .date {
              color: #28e98c;
            }
          }
        }
      }
    }
  }

  .services_section {
    .services_card {
      border: 1px solid #565656;
      border-radius: 20px;
      transition: .3s;
      position: relative;
      padding: 44px 48px 41px 48px;
      margin-bottom: 10px;
      width: 85%;

      &:hover {
        border: 1px solid #28e98c;

      }

      .title {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 8px;
      }

      .sub_title {
        font-size: 14px;
        color: #999999;
        margin-bottom: 30px;
      }

      i {
        color: $secondary-color;
      }
    }
  }

  .skills_section {
    .skills {
      .skill {
        margin-bottom: 50px;
      }

      .skill_inner {
        border: 2px solid #565656;
        border-radius: 85px;
        padding: 54px 30px 20px 30px;
        margin-bottom: 20px;
        transition: .3s;

        &:hover {
          border: 2px solid $secondary-color;
        }
      }

      h1 {
        font-size: 30px;
        color: $secondary-color;
        font-weight: 300;
        margin: 0;
      }
    }
  }

  .portfolio_Section {
    .portfolio_item {
      a {
        text-decoration: none;
      }

      h2 {
        font-size: 24px;
        margin-bottom: 0;
      }

      .portfolio_item_inner {
        background-image: url(../public/assets/images/eduport-1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 450px;
        border-radius: 30px;
        position: relative;
        margin-bottom: 20px;
        cursor: pointer;
        transition: transform 0.3s; // Added transition for smooth hover effect
      }

      &:hover {
        a {
          text-decoration: underline;
        }

        .portfolio_item_inner {
          transform: scale(1.05); // Increase the scale on hover
        }

        .portfolio_categories {
          a {
            background: #28e98c;
            color: #000;
          }
        }
      }

      .portfolio_categories {
        position: absolute;
        bottom: 0;
        display: flex;
        list-style: none;

        li {
          a {
            text-decoration: none;
            display: block;
            font-size: 14px;
            background-color: #1f1f1f;
            color: #ffff;
            padding: 7px 20px;
            border-radius: 19px;
            transition: .3s;
            margin-right: 10px;
          }
        }
      }
    }

    .carousel {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      animation: fadeIn 0.5s forwards;
      z-index: 100;
    }

    .close-button {
      position: absolute;
      top: 40px;
      right: 40px;
      color: #fff;
      font-size: 35px;
      cursor: pointer;
      transition: color 0.3s;
      left: 90%;
      width: 50px;
      height: 50px;
      align-items: center;
      display: flex;
      justify-content: center;

      &:hover {
        color: #28e98c;
      }
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      filter: invert(1);
    }
  }


  .section_badge {
    padding: 9px 20px;
    border: 1px solid #565656;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 53px;
    display: inline-flex;
    align-items: center;
  }

  @media (max-width: 576px) {
    body {
      font-size: 18px;
    }

  }

  // Media query for medium screens (md)
  @media (min-width: 768px) {
    body {
      font-size: 20px;
    }


  }

  // Media query for large screens (lg)
  @media (min-width: 992px) {
    body {
      font-size: 22px;
    }

  }

  // Media query for extra-large screens (xl)
  @media (min-width: 1200px) {
    body {
      font-size: 24px;
    }

    .left-sidebar {
      position: fixed;
    }

    .custom-container {
      width: 65%;
      margin-left: auto !important;
      margin-top: 5px;
    }
  }

}